<div id="wrapper">
      <div id="phone">
        <div id="numberDisplay">
          <input type="text" [(ngModel)]="code">
        </div>
        <div id="numberDisplay" *ngIf="superHeroName">
          Calling {{superHeroName}}
        </div>
        <div id="dialpad" class="button-3" *ngIf="enableDialpad">
          <ul>
            <li id="1" class="first"><span>1</span></li>
            <li id="2" (click)="name(2)">
              <span>2</span>
              <sub>ABC</sub>
            </li>
            <li id="3" class="last" (click)="name(3)">
              <span>3</span>
              <sub>DEF</sub>
            </li>
            <li class="first" id="4" (click)="name(4)">
              <span>4</span>
              <sub>GHI</sub>
            </li>
            <li id="5" (click)="name(5)">
              <span>5</span>
              <sub>JKL</sub>
            </li>
            <li class="last" id="6" (click)="name(6)">
              <span>6</span>
              <sub>MNO</sub>
            </li>
            <li class="first" id="7" (click)="name(7)">
              <span>7</span>
              <sub>PQRS</sub>
            </li>
            <li id="8" (click)="name(8)"><span>8</span>
              <sub>TUV</sub>
            </li>
            <li class="last" id="9" (click)="name(9)">
              <span>9</span>
              <sub>WXYZ</sub>
            </li>
          </ul>
        </div>
        <div id="actions" class="button-3 deactive">
          <ul>
            <li href="" (click)="call()" class="call">Call</li>
            <li id="0" (click)="name(0);enableDialpad = true;">
              <span>0</span></li>
            <li href="" class="clear" (click)="clear();enableDialpad =false;">Clear</li>
          </ul>
        </div>
      </div>
      </div>
    